

<div class="cart-callouts cart-callouts__footer d-sm-flex">
    <div class="cart-callout">
        <h5 class="cart-callout__title">Free shipping</h5>
        <p class="cart-callout__desc">On all orders over €25</p>
    </div>
    <div class="cart-callout">
        <h5 class="cart-callout__title">Amazing support</h5>
        <p class="cart-callout__desc">Questions? Just give us a ring at (555) 1234 5678, ask for Joe</p>
    </div>
    <div class="cart-callout">
        <h5 class="cart-callout__title">Easy returns</h5>
        <p class="cart-callout__desc">Doesn't fit with the family? Return label is included in the box.</p>
    </div>
</div>
